h1 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 
  
h2 { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 19.4px; 
}

h3 { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 
         
p { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 14px; 
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
} 

blockquote { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

.timeline{
    color: rgb(87, 86, 86);
    font-weight: 400;
}
